@model CreateProductViewModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/m.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/m.css"/>
</head>



<h1 style="color: #FF6700;"> اضافة منتج جديد </h1>
<hr />


<form asp-action="Create" enctype="multipart/form-data">

     <input   asp-for="WorkerId" type="hidden" /> 

    <div class="row">
       <div class="col-md-6">
          <div class="form-group">
            <label asp-for="Name" class="lable-control" style="color: #FF6700;"> </label>
             <input required  asp-for="Name"  class="form-control" />
         </div>
        </div>

      <div class="col-md-6">
          <div class="form-group">
            <label  asp-for="Price" class="lable-control" style="color: #FF6700;">  </label>
             <input required  asp-for="Price"  class="form-control" />
         </div>
          </div>
  


       <div class="col-md-6">
          <div class="form-group">
            <label  asp-for="ImageUrl" class="lable-control" style="color: #FF6700;"> </label>
             <input type="file" required  asp-for="ImageUrl"  class="form-control" />
         </div>
        </div>
   
            <div class="col-md-6">
          <div class="form-group">
            <label   asp-for="Description"  class="lable-control" style="color: #FF6700;"></label>
             <input required  asp-for="Description"  class="form-control" />
         </div>
        </div>

     
 
    
        </div>
  
    

    <input type="submit" class="btn btn-warning"  value="Save"/>
     <a asp-controller="Product" asp-action="Index"class="btn btn-danger">Back</a>
</form>
