
@model User
<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bb.css" />
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
</head>


   
   <body >
    
    <div class="user-info ">
        <div class="icon "><img src="~/icons/user.png "></div>
        <!-- Icon must me here -->
        <p>@Model.UserName</p>
       
        <div class="details ">
            <div>
                <p>  عامل @Model.Section   </p>
                <span><img src="~/icons/icons8-worker-50.png "width="20px " height="20px "> </span>
                <!-- Icon must me here -->
            </div>
            <div>
                <p>@Model.Governorate</p>
                <span><img src="~/icons/gaza.png "width="20px " height="20px "></span>
                <!-- Icon must me here -->
            </div>
        </div>

        <div class="phone ">
            <p>@Model.PhoneNumber</p>
            <span><img src="~/icons/icons8-number-pad-50 (1).png "width="20px " height="20px "></span>
        </div>
    </div>


        <div class="right ">
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700; " >
               
                 <a href="~/Worker/UpdateProfile" style="color: #FF6700;">    تعديل بيانات العامل</a>
                <span><img src="~/icons/icons8-modify-58.png " alt="... " width="20px " height="20px "></span>
            </button>
            </div>
            
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700;">
              <a   href ="~/Worker/ViewProduct"  style="color: #FF6700;"> تعديل المنتجات</a>
                <span><img src="~/icons/icons8-modify-58.png " alt="... " width="20px " height="20px "></span>
            </button>
            </div>
            
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700;">
                     <a href="~/Worker/Create"  style="color: #FF6700;"> اضافة الاعمال</a>
                <span><img src="~/icons/icons8-add-new-50.png " alt="... " width="20px " height="20px "></span>
             </button>
            </div>

        

        </div>
    

</body>
</html>