<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bb.css" />
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
</head>


   
   <body >
    
    <div class="user-info ">
        <div class="icon "><img src="~/icons/user.png "></div>
        <!-- Icon must me here -->
        <span>محمد محمد</span>

        <div class="details ">
            <div>
                <span>عامل بناء</span>
                <span><img src="~/icons/icons8-worker-50.png "width="20px " height="20px "> </span>
                <!-- Icon must me here -->
            </div>
            <div>
                <span>غزة</span>
                <span><img src="~/icons/gaza.png "width="20px " height="20px "></span>
                <!-- Icon must me here -->
            </div>
        </div>

        <div class="phone ">
            <span>059-XXXX-XXX</span>
            <span><img src="~/icons/icons8-number-pad-50 (1).png "width="20px " height="20px "></span>
        </div>
    </div>

    <div class="container ">
        <div class="left ">
            <div class="card ">المنتج 1</div>
            <div class="card ">المنتج 2</div>
            <div class="card ">المنتج 3</div>
            <div class="card ">المنتج 4</div>
            <div class="card ">المنتج 5</div>
            <div class="card ">المنتج 6</div>
            <div class="card ">المنتج 7</div>
            <div class="card ">المنتج 8</div>
            <div class="card ">المنتج 9</div>
            <div class="card ">المنتج 10</div>
            <div class="card ">المنتج 11</div>
            <div class="card ">المنتج 12</div>
            <div class="card ">المنتج 13</div>
        </div>

        <div class="right ">
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700; " >
                 <a href="~/Worker/Create"  style="color: #FF6700;">  تعديل البيانات</a>
                <span><img src="~/icons/icons8-modify-58.png " alt="... " width="20px " height="20px "></span>
            </button>
            </div>
            
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700;">
              <a href="~/Worker/Create"  style="color: #FF6700;"> تعديل المنتجات</a>
                <span><img src="~/icons/icons8-modify-58.png " alt="... " width="20px " height="20px "></span>
            </button>
            </div>
            
            <div class="card ">
                <button style="background-color:  #faedda;  border:none; color: #FF6700;">
                     <a href="~/Worker/Create"  style="color: #FF6700;"> اضافة المنتجات</a>
                <span><img src="~/icons/icons8-add-new-50.png " alt="... " width="20px " height="20px "></span>
             </button>
            </div>

        

        </div>
    </div>

</body>
</html>