@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيت كلمة المرور";
}

<h1  style="color: #FF6700;">@ViewData["Title"]</h1>
<p  style="color: #FF6700;">
   يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
</p>

