<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LLL.css" />
    <style>
        body {
            position: relative;
            min-height: 1850px;
        }
    </style>

</head>

<body>
   @* <nav>
        <div class="buttons">

              <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                  <a href="~/Home/Index" class="main" style="color: #FF6700;"> الرئسية
                  
                </a>
                </button>
                
            </div> 
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                  <a href="~/User/Index" class="main" style="color: #FF6700;">تسجيل دخول
                    <img src="~/icons/icons8-login-rounded-50.png" alt="" width="20px" height="14px"/>
                </a>
                </button>
                
            </div>

              <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                  <a href="~/User/signc" class="main" style="color: #FF6700;">تسجيل مستخدم  
                    <img src="~/icons/icons8-login-rounded-50.png" alt="" width="20px" height="14px"/>
                </a>
                </button>
                
            </div>

                <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                  <a href="~/User/signw" class="main" style="color: #FF6700;">تسجيل عامل  
                    <img src="~/icons/icons8-login-rounded-50.png" alt="" width="20px" height="14px"/>
                </a>
                </button>
                
            </div>

                <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                  <a href="~/User/signs" class="main" style="color: #FF6700;">تسجيل متجر  
                    <img src="~/icons/icons8-login-rounded-50.png" alt="" width="20px" height="14px"/>
                </a>
                </button>
                
            </div>

          @*  <div class="btn-group dropend">
              
                        
                    <select id="select" class="main" style="color: #FF6700; background-color: rgb(255, 241, 241);">
                      <img src="~\icons\icons8-user-50.png" alt="" width="20px" height="14px"/>

                      <option selected disabled hidden><a class="dropdown-item active ">تسجيل</a></option>
                      <option><a class="dropdown-item active " href="~/Login/signc">مستخدم</a></option>
                      <option><a class="dropdown-item active " href="~/Login/signw">عامل</a></option>
                      <option><a class="dropdown-item active " href="~/Login/signs">متجر</a></option>
                  
                    </select>
             
                 
                </div>
        </div>
        <div class="logo">
            <p style="margin-top: 10px; font-size: medium; color: #FF6700;">بناء منشئة</p>
            <img src="~/assets/user.jpeg" width="40px" height="40px" alt="" />
        </div>
    </nav>*@

    <div class="container">
        <div class="person mt-5">
            <h2 class="" style="font-size: larger;">مقبل على مشروع بناء؟</h2>
            <div class="row">
                <div class="col-6">
                    <p>اذن انت في المكان الصحيح هنا الحل لكافة المشاكل التي ستواجهك تمتع بسهولة وصول لطاقم العمل و مزودي المعدات حسب منطقتك السكنية</p>
                </div>
                <div class="col-6">
                    <img id="pro" class="mx-5" src="~/images/personal.jpg" alt="">
                </div>
            </div>
            <h2 class="" style="font-size: larger; margin-top: -31px;">نهتم بأدق تفاصيل </h2>
        </div>
        </div>
        <div class="goal mt-4">
            <div class="row mt-5">
                <div class="col-6 mt-5 mx-5">
                    <h6>اهدافنا</h6>
                    <BR>
                    <ol>
                        <li>زيادة فرص العمل</li>
                        <li>تسهيل الحياة على سكان قطاع غزة</li>
                        <li>تقديم افضل طواقم العمل</li>
                        <li>تقليل المشاكل التي ستواجه المقبلين على البناء</li>
                        <li>تسهيل العملية التطويرية</li>
                        <li>تحقيق رؤية العميل</li>
                    </ol>
                </div>

                <div class="col-6 " style="padding-right:55PX ;">
                    <div class="video-container">
                        <div class="play-icon"></div>
                        <video id="myVideo" class="mx-5" muted src="https://www.youtube.com/embed/T_t2mET60OQ" title="YouTube video player" frameborder="0">
            <source src="images/video_2023-07-10_23-28-46.mp4" type="">
                        </video>
                    </div>
                </div>
                <div class="masega  mt-4" style="padding-left:30PX ;">
                    <textarea class="form-control " id="exampleFormControlTextarea1" rows="3" value="Di">ادخل الرسالة..</textarea>
                </div>

            </div>
            <div class="d-grid gap-2 d-md-flex mt-4" style="margin-left: 37px;">
                <button class="adham btn  me-md-2 justify-content-md-end" type="submit">ارسل المقترح </button>
            </div>

            <footer class="mt-5">
                <A>حقوق النشر © ٢٠٢٣ بناء منشأة</A>
                <A>Protected by the Google Privacy Policy and the Terms of Service apply.</A>
            </footer>

            <script src="js/miana.js"></script>
            <script src="js/jquery-3.6.4.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/bootstrap.bundle.min.js"></script>
            <script src="js/script.js"></script>
</body>

</html>