
<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/N.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/N.css"/>
    <style>
        body {
            position: relative;
            min-height: 900px;
        }
        
        .container .left .card {
            width: 95%;
        }
        
        .container .left .card .ff {
            display: inline;
            justify-content: space-between;
            float: left;
        }
    </style>
</head>

<body>
  

    <div class="n" style="float: right; margin-right: 170px;">
        <h4>عمال البناء</h4>
        <img src="~\icons\icons8-worker-50.png" alt="" width="30px" height="30px" />
    </div>


    <div class="n" style="float:left ; ">
        <h4>معدات البناء</h4>
        <img src="~\icons\icons8-new-store-80.png" alt="" width="30px" height="30px" />
    </div>


    <div class="container" >
        <div class="left">
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView"  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView"  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
   <a href="~/Customers/StoreProfileView"  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>شركة الاوائل</text>
                     <a href="~/Customers/StoreProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>

        </div>




       
        <div class="left ">
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                    <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                   
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                    <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                    <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                      <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                      <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                     <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                    <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                     <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                     <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                      <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                    <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                     <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>
            <div class=" card ">
                <div class="">
                    <text>محمد محمد</text>
                      <a href="~/Customers/WorkerProfileView "  class="ff" style="width:70px; color: aliceblue; background-color: #ff730fbd; border-color: #ff730fbd;" >اختر</a>
                </div>
            </div>

        </div>
    </div>





    
</body>
</html>