
<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StoreProfileView.css" />

    <title>Document</title>
    <link rel="stylesheet" href="pp.css"/>
</head>

<body>
   
 
    <div class="r">
        <h2 style="color: #FF6700;">شركة الاوائل  <img src="~/icons\icons8-new-store-80.png" height="50px" width="50px"></h2>
        <h4 style="color: #FF6700; ">لكافة لوازم البناء</h4>
    </div>

<br>
<br>
<br>
<br>
<br>

  <section>
    <div class="product" style="margin-right: 250px;">
      <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج 1</h2>
      <p>وصف المنتج 1</p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>
        <div class="product"style="margin-right: 250px;">
       <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج2</h2>
      <p>وصف المنتج2</p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>

   </section>
     <section>
       <div class="product" style="margin-right: 250px;">
      <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج 3</h2>
      <p>وصف المنتج 3</p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>
        <div class="product" style="margin-right: 250px;">
       <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج4 </h2>
      <p>وصف المنتج4 </p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div> 
  </section>
    
  @*

  <section>
    <div class="product"style="margin-right: 250px;">
       <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج2</h2>
      <p>وصف المنتج2</p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>

  </section>

  
    
  

  <section >
    <div class="product" style="margin-right: 250px;">
      <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج 3</h2>
      <p>وصف المنتج 3</p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>
  </section>
    
    
  <section >
    <div class="product" style="margin-right: 250px;">
       <img src="~/icons\5efdrey675ihk-plaster-wall-1-1.jpg" alt="منتج 1" height="100px" width="100px">
      <h2>منتج4 </h2>
      <p>وصف المنتج4 </p>
      <p class="price">$10</p>
      <button>أضف للسلة</button>
    </div>
  </section>
    
*@


 
   
</body>
</html>