

<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="jj.css"/>
</head>

<body>
    
    
    <div class="user-info">
        <div class="icon"><img src="~/icons/user.png"></div>
        <!-- Icon must me here -->
        <span>مروةابو سلطان</span>

        <div class="details">
            <div>
                <span >مستخدم</span>
                <span><img src="~/icons/icons8-worker-50.png"width="20px" height="20px"> </span>
                <!-- Icon must me here -->
            </div>

  
    </div>
</body>
</html>