<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/WorkerProfileView"/>
</head>

<body>

    
    <div class="user-info">
        <div class="icon"><img src="~/icons/user.png"></div>
        <!-- Icon must me here -->
        <span>محمد محمد</span>

        <div class="details">
            <div>
                <span>عامل بناء</span>
                <span><img src="~/icons/icons8-worker-50.png"width="20px" height="20px"> </span>
                <!-- Icon must me here -->
            </div>
            <div>
                <span>غزة</span>
                <span><img src="~/icons/gaza.png"width="20px" height="20px"></span>
                <!-- Icon must me here -->
            </div>
        </div>

        <div class="phone">
            <span>059-XXXX-XXX</span>
            <span><img src="~/icons/icons8-number-pad-50 (1).png"width="20px" height="20px"></span>
        </div>
    </div>


    <div class="grid">
 
        <div>
            <img src="~/icons/53b45d8c6ad429caf6eb9890d84e5522.jpg" alt="" width="100%" height="230px" />
            <a href="#" class="main-btn">منتج1</a>
        </div>
        <div>
            <img src="~/icons/كم-سنة-دراسة-الهندسة-في-السعودية.jpg" alt="" width="100%" height="230px" />
            <a href="#" class="main-btn">منتج2</a>
        </div>
        <div>
            <img src="~/icons/5efdrey675ihk-plaster-wall-1-1.jpg" alt="" width="100%" height="230px" />
            <a href="#" class="main-btn">منتج3</a>
        </div>
       

    </div>
   

    
</body>
</html>